a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.footer_link {
  display: block;
  margin-top: 1rem;
}

.footer_link_name {
  text-decoration: underline;
}

.news_title,
.most_recent_news_title {
  font-size: 1rem;
  font-weight: bold;
}

.most_recent_news_title {
  font-size: 1.225rem;
}

.most_recent_news_intro {
  font-size: 0.9rem;
}

.news_date {
  color: grey;
  font-size: 0.9rem;
}

.separator {
  border-bottom: 2px solid #3a3c41;
}
